.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 40px;
    cursor: pointer;
    color: white;
}
#gameContainer{
    font-family: "permanent Marker", cursive;
    text-align: center;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 200px;
    margin: auto;
}
body{
    background-color: black;
}

#statusText{
    color: yellow;
    font-size: 21px;
}
#h1{
    color: white;
    font-size: 33px;
}
#resetBtn{
    color: green;
    border: 2px solid;
    width: 90px;
    height: 37px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10%;
    text-align: center;
}
@media (max-width: 311px){
    #h1{
        visibility: hidden;
    }
    .cell{
        width: 65px;
        height: 65px;
        border: 2px solid;
        box-shadow: 0 0 0 2px;
        line-height: 65px;
        font-size: 35px;
        cursor: pointer;
        color: black;
    }
    body{
        background-color: lightblue;
    }
    #statusText{
        color: black;
        font-size: 21px;
    }
    #resetBtn{
        color: yellow;
        background-color: black;
        border: 2px solid;
        width: 76px;
        height: 30px;
        font-size: 14px;
        cursor: pointer;
        border-radius: 7%;
        text-align: center;
    }
}    

@media (max-width: 239px){
    #resetBtn{
        color: yellow;
        background-color: black;
        border: 2px solid;
        width: 50px;
        height: 23px;
        font-size: 10px;
        cursor: pointer;
        border-radius: 4%;
        text-align: center;
    }
    #statusText{
        color: black;
        font-size: 16px;
    }
    .cell{
        width: 65px;
        height: 65px;
        border: 2px solid;
        box-shadow: 0 0 0 2px;
        line-height: 55px;
        font-size: 25px;
        cursor: pointer;
        color: black;
    }
}
