.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    color: white;
}
#gameContainer{
    font-family: "permanent Marker", cursive;
    text-align: center;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}
body{
    background-color: black;
}

#statusText{
    color: yellow;
}
#h1{
    color: white;
}
#resetBtn{
    color: green;
    border: 2px solid;
    width: 100px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
}
@media (max-width: 1200px){/*Desktop laptop-992, Tablet-768, mobile-576*/
    h1{
        font-size: 50px;
    }
    #cellContainer{
        width: 240px;
        line-height: 135px;
        font-size: 90px;
    }
    #statusText{
        font-size: 30px;
    }
    #resetBtn{
        color: green;
        border: 4px solid;
        width: 150px;
        height: 50px;
        font-size: 30px;
        cursor: pointer;
    }
}
@media (max-width: 992px){
    h1{
        font-size: 40px;
    }
    #cellContainer{
        width: 240px;
        line-height: 65px;
        font-size: 30px;
    }
    #statusText{
        font-size: 30px;
    }
    #resetBtn{
        color: green;
        border: 4px solid;
        width: 100px;
        height: 50px;
        font-size: 20px;
        cursor: pointer;
    }
}
@media (max-width: 768px){
    h1{
        font-size: 35px;
    }
    #cellContainer{
        width: 235px;
        line-height: 60px;
        font-size: 25px;
    }
    #statusText{
        font-size: 25px;
    }
    #resetBtn{
        color: green;
        border: 4px solid;
        width: 100px;
        height: 40px;
        font-size: 15px;
        cursor: pointer;
    }
}
@media (max-width: 576px){
    h1{
        font-size: 25px;
    }
    #cellContainer{
        width: 150px;
        line-height: 50px;
        font-size: 15px;
    }
    #statusText{
        font-size: 20px;
    }
    #resetBtn{
        color: green;
        border: 4px solid;
        width: 100px;
        height: 40px;
        font-size: 15px;
        cursor: pointer;
    }
}
